<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BerkahJayaShop"
        tools:replace="android:allowBackup"
        tools:targetApi="31">
        <activity android:name=".main.AllProductsPopularActivity"
            android:exported="false" />
        <activity
            android:name=".main.AllCategoriesActivity"
            android:exported="false" />
        <activity
            android:name=".account.WishlistAndaActivity"
            android:exported="false" />
        <activity
            android:name=".account.TransaksiAndaActivity"
            android:exported="false" />
        <activity
            android:name=".ulasan.UlasanActivity"
            android:exported="false" />
        <activity
            android:name=".transaction.KomplainActivity"
            android:exported="false" />
        <activity
            android:name=".transaction.DetailTransactionActivity"
            android:exported="false" />
        <activity
            android:name=".checkout.PaymentFinishActivity"
            android:exported="false" />
        <activity
            android:name=".account.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".main.ProductsByCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".checkout.PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".checkout.CheckoutActivity"
            android:exported="false" />
        <activity
            android:name=".main.DetailsActivity"
            android:exported="false" />
        <activity
            android:name=".cart.CartActivity"
            android:exported="false" />
        <activity
            android:name=".auth.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".main.MainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>